body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    overflow: hidden;
}

.topnav {
    overflow: hidden;
    background-color: #ba2924;
    height: 50px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav button {
    float: left;
    color: #f2f2f2;
    background-color: #ba2924;
    border-color: #ba2924;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #e74c3c;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav-right {
    float: right;
}
.formbutton {
    float: right
}

/* TODO: Something wrong with overflow (padding) */
.sideNav{
    margin-top: 50px;
    height: 100%;
    width: 100px;
    margin-bottom: 50px;
    position: fixed;
    background-color: #d7736f;
    border-color: #d7736f;
    text-align: center;
    top: 0;
    left: 0;
    overflow: auto;
}

button {
    border: transparent;
    background-color: transparent;
    font-size: 15px;
}

button:focus {
    border: transparent;
}

.menuDot {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}

.menuDot:hover {
    border: transparent;
    border-radius: 10%;
}

.fa-plus-circle {
    font-size: 80px;
    display: inline-block;
    color:white;
    opacity: 0.5;
}

.fa-plus-circle:hover{
    opacity: 1;
}

img {
    top: 0;
    left: 0;
}

.container{
    width: 100%;
    height: 100%;
    margin-left: 100px;
    overflow: hidden;
}

section{
    border-right: solid #f2b8b6;
    float: left;
    width: 30%;
    min-width: 300px;
    height: 100%;
}

.contentBox{
    padding: 15px 15px 1px;
    background-color: #f2b8b6;
    border: #f2b8b6;
    font-size: 25px;
}

.fa-hammer:hover {
    color: white;
}

input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-color: transparent;
    margin-top: 20px;
}

input[type=sumbit]{
    background-color: #f72645;
}

.tab{
    text-decoration: none;
    float: left;
    height: 40px;
    width: 120px;
    line-height: 40px;
    padding: 0 10px;
    margin-left: 15px;
    background-color: #f7e8e8;
    font-size: 15px;
}

.tab {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tab:hover, .tab:focus{
    background-color: #f2b8b6;
}

.productButton {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 100%;
    text-align: left;
    text-indent: 20px;
}

.productButton:hover, .productButton:focus{
    background-color: #f2b8b6;
}

.priceBox {
    padding: 15px 0px 15px 0px;
    background-color: #f2b8b6;
    position: fixed;
    bottom: 0;
    width: 30%;
    min-width: 300px;
}

.priceBox  a{
    padding-left: 15px;
}

.test {
    padding-left: 15px;
}

aside {
    height: 90%;
    overflow: scroll;
}

.productHeader {
    padding: 40px;
    font-size: 40px;
}

.productTable{
    width: 70%;
    min-width: 350px;
    text-align: center;
    border-collapse: collapse;
}

.productTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2b8b6;
}

.productTable td, .productTable th{
    border: 1px solid #ddd;
    padding: 8px;
}

.productTable tr:nth-child(even){background-color: #f2f2f2;}


.popUp{
    background-color: #ba2924;
    height: 50%;
    width: 50%;
    border-radius: 2%;
    margin: 50px auto auto;
    max-width: 800px;
    max-height: 500px;
}
